
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call-check"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				input(class="product", name='product', type='hidden')
				.text-center
					h3 Оформление заявки
					p Для оформления заявки проверьте, есть&nbsp;ли ИНН вашей компании в&nbsp;Реестре компаний малого и&nbsp;среднего предпринимательства.
				+input("Введите ваш ИНН")(required)
				+e.BUTTON.btn.disabled(type="submit") Проверить
				//- +policy()
	// #modal-call-check

	div(id="modal-call-check-1"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				input(class="product", name='product', type='hidden')
				.text-center
					h3 Оформление заявки
					p Для оформления заявки проверьте, есть&nbsp;ли ИНН вашей компании в&nbsp;Реестре компаний малого и&nbsp;среднего предпринимательства.
				+input("Введите ваш ИНН")(required)
					.text-danger ИНН введен неверно
				+e.BUTTON.btn.disabled(type="submit") Проверить
				//- +policy()
	// #modal-call-check-1

	div(id="modal-call-check-2"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				input(class="product", name='product', type='hidden')
				.text-center
					h3 Оформление заявки
					p Для оформления заявки проверьте, есть&nbsp;ли ИНН вашей компании в&nbsp;Реестре компаний малого и&nbsp;среднего предпринимательства.
				+input("Введите ваш ИНН")(required)
				+e.BUTTON.btn(type="submit") Проверить
				//- +policy()
	// #modal-call-check-2

	div(id="modal-call-order"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				input(class="product", name='product', type='hidden')
				.text-center
					h3 Скидка&nbsp;50% недоступна, т.к. ИНН не&nbsp;найден в&nbsp;реестре МСП
					p Оставьте ваши контакты, и&nbsp;мы&nbsp;предложим вам возможное решение.
				+input("Имя")(required)
				+input("Телефон", "tel")
				+input("E-mail", "email")
				+e.BUTTON.btn(type="submit") Оставить заявку
				+policy()
	// #modal-call-order

	div(id="modal-call-order-1"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				input(class="product", name='product', type='hidden')
				.text-center
					h3 Вы&nbsp;можете приобрести программы 1С&nbsp;со&nbsp;скидкой&nbsp;50%
					p Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
				+input("Имя")(required)
				+input("Телефон", "tel")
				+input("E-mail", "email")
				+e.BUTTON.btn(type="submit") Оставить заявку
				+policy()
	// #modal-call-order-1

	div(id="modal-call-sent"  style="display: none" )
		+b.modal-win--order
			+form-wrap
				.text-center
					h3 Заявка отправлена!
					p Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
				+e.btn.modal-close-js Закрыть
	// #modal-call-order-1
	
	// end modals