mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Оцените ваши преимущества
			.row
				mixin advItem(i, h, ...items)
					.col-md-6.col-xl-3
						+e.item
							
							ul
								li
									img(src=`img/svg/sAdvantages-${i}.svg`, alt="")
								li
									h4!= h
								each item in items
									li!= item
				+advItem(1, `Удобство`, `Работа с&nbsp;любого устройства, везде, где есть Интернет`, `Всегда актуальная версия программы`, `Совместный доступ от&nbsp;2-х пользователей`, `Техническая поддержка 24/7`)
				+advItem(2, `Функциональность`, `Подключение через веб-браузер или &laquo;удаленный&raquo; рабочий стол`, `Возможность кастомизации (доработки) приложений`, `Возможность подключения полезных сервисов: 1С-Отчетность, 1С-ЭТП и&nbsp;др.`)
				+advItem(3, `Экономия`, `50% стоимости подписки субсидируется государством`, `Не&nbsp;нужно инвестировать в&nbsp;серверную инфраструктуру и&nbsp;её&nbsp;обслуживание`, `Не&nbsp;нужно оплачивать работу штатного системного администратора. Все вопросы решает служба поддержки&nbsp;1С`)
				+advItem(4, `Надежность`, `Гарантируем безопасность и&nbsp;конфиденциальность информации. Все данные передаются в&nbsp;зашифрованном виде и&nbsp;недоступны третьим лицам`, `Защита от&nbsp;потери данных. Автоматическое резервное копирование данных каждые 24&nbsp;часа`)
	// end sAdvantages