// start .sConsult
.sConsult {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		
		min-height: 1px;
		padding-top: var(--sPT);
		padding-bottom: 0;
		.form-wrap__input-wrap{

		}
		.col-lg-6.d-flex{
			justify-content: center;
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {
		picture{
			text-align: center;
			img{
				max-width: 70%;
			}
		}
	}
} // end.sConsult