// start .sConsult
.sConsult {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		h2{
			&::after{
				content: '';
				display: block;
				background-color: #df2d2d;
				width: 60px;
				height: 4px;
				@include media-breakpoint-up(md) {

					margin-top: rem(40);
					margin-bottom: rem(40);
				}
				margin-top: rem(20);
				margin-bottom: rem(20);
				@include media-breakpoint-down(md) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		min-height: 1px;
		padding-top: var(--sPT);
		padding-bottom: 0;
		.form-wrap__input-wrap{

		}
		.col-lg-6.d-flex{
			justify-content: center;
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sConsult