extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sConsult/_sConsult.pug
//- include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
	+top-nav()
	.container
		.btn.btn-primary(href="#") Проверить
		.btn.btn-primary.btn-sm(href="#") Купить
		+input(`place`, `text`, `label`)
		+input(`place`, `text`, `label`)
		+input(`place`, `text`, `label`)
		+input(`place`, `select`, `label`)
		+in-c('checkbox', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, temporibus cupiditate ea deserunt minima quo eos? Dolores nostrum hic in porro totam sint, animi ad, laudantium, rerum dicta tempora sequi?' )
		+in-c('radio', 'text' )
		+in-c('radio', 'text' )
		
	+headerBlock()
	+sCatalog()
	+sAdvantages()
	+sAbout()
	+sQuestions()
	+sConsult()
	+footer()
	//- +topLine()
	//- +sForm()
	//- +sContact()



