mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Доступны по льготным ценам
				p Универсальные и&nbsp;отраслевые решения от&nbsp;1С
				+b.select-wrap
					select.custom-select( data-placeholder='Выберите отрасль') 
						option(value="all") Все
						option(value="grb") Гостинично-ресторанный бизнес
						option(value="r") Розница
						option(value="jsa") ЖКХ, Строительство, Автотранспорт
						option(value="ufabp") Управление фирмой и автоматизация бизнес-процессов
						option(value="dr") Другое
			.row
				mixin item(t,p, type, a="#")
					- let random = Math.floor(Math.random(0, 1000) * Math.random(1, 99) * 25) + 65
					+e.col.col-lg-4.col-md-6(data-type= type)
						+b.card
							+e.title
								a(href=`#modal-${random}`).link-modal-js.text-body!= t
							p!= p
							+e.more(href=`#modal-${random}`).link-modal-js Подробнее
							.row
								.col
									strong от 1890
									| 
									| руб./мес
								.col-auto
									+e.btn(href="#" data-fancybox="modal" data-src="modal-call-check" data-product!= t) Купить
						div(id=`modal-${random}` style="display: none" )
							+b.modal-win--lg
								.row 
									.col-lg-auto.order-lg-last
										+e.aside
											+e.price 
												strong от 1890 
												| 
												| руб./мес
											.small.text-secondary Стоимость указана за&nbsp;одно рабочее место
											+e.btn(href="#" data-fancybox="modal" data-src="modal-call-check" data-product!= t) Оставить заявку
											.small Оставьте заявку и&nbsp;получите 30&nbsp;дней работы бесплатно
									.col-lg
										+e.title!= t 
										p Оптовики, супермаркеты, магазины у дома, крупные розничные сети и интернет-магазины могут использовать программу для автоматизации учета и контроля своей торговой деятельности. Программа поддерживает работу с любыми товарами, в том числе и подлежащими маркировке, и обмен данными с системами «Честный знак», ЕГАИС, ВетИС. Ее можно использовать на любом этапе развития торгового бизнеса: на старте, при масштабировании, по мере добавления новых товаров или услуг. Небольшие организации могут упростить интерфейс программы, отключив возможности, необходимые только крупным компаниям. Программа подходит для всех основных видов торговли: оптовой, розничной, через Интернет, в кредит, по предварительному заказу, комиссионной. Управляйте ассортиментом и ценами, запасами, закупками и продажами, отношениями с клиентами, автоматизируйте оперативный и управленческий учет, задачи планирования, анализа и контроля торгового бизнеса. Отдельные модули анализа и мониторинга показателей позволят оценить эффективность бизнес-процессов.

										p Подключайте торговое оборудование всех видов, создавайте мобильные рабочие места, используйте электронный документооборот с поставщиками и покупателями, а также при необходимости настраивайте обмен данными с другими решениями «1С».
						
				+item(`1С:Управление нашей фирмой&nbsp;8`,`Готовое комплексное решение для управления и учета в малом бизнесе, охватывает все основные направле..`,`ufabp`)
				+item(`1С:Розница 8`,`Программа для автоматизации всех основных бизнес-процессов розничных магазинов: от небольших торговы..`,`r`)
				+item(`1С:Управление торговлей 8`,`Оптовики, супермаркеты, магазины у дома, крупные розничные сети и интернет-магазины могут использова..`,`r`)

				+item(`1С:Комплексная автоматизация`,`Чтобы вы ни задумали в развитии своего бизнеса – «1С:Комплексная автоматизация» поможет реализовать ..`,`ufabp`)
				+item(`1С:Договоры 8`,`Все, что связано с договорной работой, можно доверить одной программе с простым интерфейсом и полным..`,`jsa`)

				+item(`1С:Документооборот 8`,`От простой почты, до контроля задач отдельных сотрудников и ведения совместных проектов в современно..`,`ufabp`)

				+item(`1С:Салон красоты`,`Программа для автоматизации работы салонов красоты, парикмахерских, маникюрных и массажных салонов, ..`,`r`)

				+item(`1С:Розница 8. Магазин одежды и обуви`,`Программа для автоматизации работы магазинов, салонов, бутиков, розничных торговых точек и сетей точ..`,`r`)

				+item(`1С:Розница 8. Ювелирный магазин`,`Программа для автоматизации работы магазинов, салонов, розничных торговых точек по продаже ювелирных..`,`r`)

				+item(`1С:Розница 8. Салон оптики`,`Программа для автоматизации работы розничных точек по продаже очков, оправ, линз и аксессуаров для о..`,`r`)

				+item(`1С:Розница 8. Магазин строительных и отделочных материалов`,`Программа для автоматизации работы магазинов строительных и отделочных..`,`r`)

				+item(`1С:Розница 8. Магазин автозапчастей`,`Программа для автоматизации работы розничных точек по продаже автозапчастей, шин, автомобильных диск..`,`r`)

				+item(`1С:Розница 8. Аптека`,`Программный продукт предназначен для эффективной автоматизации торговой деятельности аптек, обладая ..`,`r`)

				+item(`1С:Розница 8. Магазин бытовой техники и средств связи`,`Программный продукт предназначен для эффективной автоматизации торговой деятельности магазинов бытов..`,`r`)

				+item(`1С:Розница 8. Книжный магазин`,`Программный продукт предназначен для эффективной автоматизации торговой деятельности книжных магазин..`,`r`)

				+item(`1С:Аренда и управление недвижимостью`,`Продукт позволяет повысить эффективность малого и среднего бизнеса компаний за счет автоматизации пр..`,`jsa`)

				+item(`1С:Управление автотранспортом ПРОФ`,`Программа для автоматизации работы автотранспортных предприятий и транспортных подразделений, исполь`,`jsa`)

				+item(`1С:Отель`,`Программа для автоматизации работы гостиниц, отелей, пансионатов. Подходит для отелей любого формата..`,`grb`)

				+item(`1C:CRM ПРОФ`,`Преднастроенная аналитическая CRM-система для малого и среднего бизнеса, предназначенная для управле..`,`ufabp`)

				+item(`1С:Управление сервисным центром`,`Программа для автоматизации работы сервисных центров бытовой техники, мастерских по обслуживанию и р..`,`ufabp`)

				+item(`1С:Управление автотранспортом Стандарт`,`Программа для автоматизации работы автотранспортных предприятий и транспортных подразделений, исполь..`,``)

				+item(`1C:Управление аптечной сетью`,`Программа позволяет автоматизировать задачи оперативного и управленческого учета, анализа и планиров..`,`ufabp`)

				+item(`1С:Фастфуд. Фронт-офис`,`Программа обладает простым и понятным функционалом, позволяя точке питания быстро приступить к работ..`,`grb`)

				+item(`1С:Ресторан. Фронт-офис`,`Программа для автоматизации обслуживания гостей в кафе, ресторанах и столовых с традиционной системо..`,`grb`)

				+item(`1С:Управление нашей строительной фирмой`,`Программа для автоматизации деятельности предприятий, осуществляющих различные виды строительства, т..`,`jsa`)

				+item(`1С:Учет в управляющих компаниях ЖКХ, ТСЖ и ЖСК`,`Программа обладает полным перечнем инструментов для автоматизации работы современного предприятия ЖК..`,`jsa`)

				+item(`1С:PM Управление проектами ПРОФ`,`Программный продукт позволяет эффективно автоматизировать деятельность предприятия по управлению про..`,`ufabp`)

				+item(`1С:Ломбард`,`Готовый программный продукт с большим количеством предопределенных настроек и понятным интерфейсом, ..`,`r`)

				+item(`1С:Подрядчик строительства. Управление финансами`,`Программа предоставляет широкие возможности для планирования и анализа этапов строительного производ..`,`jsa`)

				+item(`1С:Общепит`,`Программа для автоматизации работы предприятий питания любого типа: ресторанов, кафе, баров, столовы..`,`grb`)

				+item(`1С:Автосервис`,`Программа для повышения эффективности управления автосервисом: функции CRM-системы, планирование заг..`,`ufabp`)

				+item(`1С:Управление предприятием общепита`,`Программа для автоматизации работы предприятий общественного питания различных форматов и концепций...`,`ufabp`)

				+item(`1С:Управление ритуальными услугами`,`Программный продукт предназначен для комплексной автоматизации деятельности предприятий, оказывающих..`,`ufabp`)

				+item(`1С:Управление торговлей и взаимоотношениями с клиентами (CRM)`,`Решение дает возможность комплексно автоматизировать торговые операции..`,`ufabp`)

				+item(`1С:StopCOVID`,`Программный продукт позволяет быстро и эффективно организовать деятельность предприятия в условиях п..`,`dr`)

				+item(`1С:Общепит КОРП`,`Программа для автоматизации работы предприятий питания любого типа: ресторанов, кафе, баров, столовы..`,`grb`)

				+item(`1С:Документооборот 8 КОРП`,`От простой почты, до контроля задач отдельных сотрудников и ведения совместных проектов в современно..`,`dr`)

				+item(`1C:CRM КОРП`,`Полноценная и многофункциональная CRM-система, ориентированная на нужды крупного бизнеса. Помимо ста..`,`dr`)
			+e.footer
				p Не&nbsp;нашли подходящего решения? Оставьте заявку, партнёры 1С&nbsp;подберут программу для Вашего бизнеса!
				+e.btn(href="#") Оставить заявку
	// end sCatalog