.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary);
	//
	// @include media-breakpoint-up(xl) {
	// 	background-color: #000;
	// 	border: 1px solid #000;
	// }
	background-color: $white;
	// @include media-breakpoint-up(lg) {
	// 	background-color: red;

	// }
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	.row {
		align-items: center;
	}
	&__logo {
		display: block;
		max-width: 138px;
		padding: 18px 0;
		img {
			max-width: 100%;
		}
	}
	&__logo-caption {
		font-size: 12px;
		line-height: calc(18 / 12);
		color: $secondary;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		a {
			display: inline-block;
			font-weight: 600;
			font-size: 18px;
			line-height: calc(22 / 18);
			padding: 10px;
			color: $body-color;
			@include media-breakpoint-up(lg) {
				padding: 0;
				margin-bottom: 5px;
			}
			&:hover {
				color: $primary;
			}
		}
		span {
			display: inline-block;
			font-size: 12px;
			line-height: calc(15 / 12);
			color: $secondary;
			padding: 10px;
			@include media-breakpoint-up(lg) {
				padding: 0;
			}
		}
	}
	p {
		@include ell();
	}
	&__menu-toggle-wrap {
		padding: 10px;
		background-color: $light;
		border-radius: 50%;
	}
	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
