.soc {
	@include roww(5px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		background-color: $light;
		border-radius: 20px;
		width: rem(50);
		height: rem(40);
		&:hover {
			box-shadow: 0px 3px 7px rgba(30, 30, 30, 0.15);
			// background-color: tint-color($light, 5%);
			// opacity: .6 ;
			.icon {
				&-viber {
					color: tint-color(#7940B5, $link-shade-percentage);
				}
				&-whatsapp {
					color: tint-color(#40A86F, $link-shade-percentage);
				}
				&-telegram {
					color: tint-color(#3BA4C4, $link-shade-percentage);
				}
			}
		}
	}
	.icon {
		@include mt;
		font-size: rem(20);
		&-viber {
			color: #7940B5;
		}
		&-whatsapp {
			color: #40A86F;
		}
		&-telegram {
			color: #3BA4C4;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}
