mixin ddGroup()
	//-родителю елементов .dd-group-js
	+b.dd-group.dd-group-js
		if block
			block
		else
			+ddGroupItem('Как определить, что мне доступна льгота?')
			+ddGroupItem('ИНН моей компании не найден в Реестре МСП')
			+ddGroupItem('Как приобрести программы “1С” со скидкой?')
			+ddGroupItem('Сколько это стоит?')
			+ddGroupItem('Я забыл свой логин или пароль. Что делать?')

mixin ddGroupItem(t , activeClasses='')
	//-хедеру и контенту => .dd-head-js, .dd-content-js
	//-!!! они должни вкладиваться в 1 контейнер(+e.item) header стилизируеться от етого контейнера, внутри хедера втавлять что душе угодно
	+b.accordion-item(class=activeClasses)
		+e.head.dd-head-js= t
			+e.icon
		+e.content.dd-content-js(class=activeClasses)
			if block
				block
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.
